.jjsim-window .jjsim-wintitle {
  height: 40px;
  line-height: 40px;
}

.jjsim-wintitle .im-wt-name {
  font-size: 14px;
  color: #000;
  margin-left: 16px;
}

.jjsim-wintitle .im-wt-closebtn {
  position: absolute;
  right: 15px;
  top: 13px;
  display: block;
  width: 14px;
  height: 14px;
  text-indent: 999em;
  overflow: hidden;
  background: url("../images/im/close_big.png") no-repeat center center;
  cursor: pointer
}
