.jjsim-hd {
  width: 202px;
  height: 40px;
  padding-left: 34px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  background: url("../images/im/im-icon.png") no-repeat 13px 13px #fff;
  cursor: pointer;
  position: relative;
}

.jjsim-hd.red {
  background: url("../images/im/im-icon-red.png") no-repeat 13px 13px #fff;
}

.jjsim-hd span.im-title {
  font-size: 14px;
  color: #4A4A4A;
  padding-left: 34px;
}

.jjsim-hd-num {
  display: inline-block;
  height: 14px;
  line-height: 14px;
  padding: 0 4px;
  border-radius: 7px;
  color: #fff;
  font-size: 10px;
  background: #F45448;
}

.jjsim-hd-closebtn {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  text-indent: 999em;
  overflow: hidden;
  background: url(../images/im/arrow_down.png) no-repeat center center;
  cursor: pointer
}

.im-fold .jjsim-hd-closebtn {
  background: url("../images/im/arrow_up.png") no-repeat center center;
}
